<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978023791755-i7a26v35r0hvb6um0c96cknrhqg563r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978023791755-i7a26v35r0hvb6um0c96cknrhqg563r4</string>
	<key>API_KEY</key>
	<string>AIzaSyBXuf6TCoZ5-0a6JZz1gmJTuRJeb_VG5ts</string>
	<key>GCM_SENDER_ID</key>
	<string>978023791755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.curtin.xRaySimulator</string>
	<key>PROJECT_ID</key>
	<string>x-ray-simulator-60085</string>
	<key>STORAGE_BUCKET</key>
	<string>x-ray-simulator-60085.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978023791755:ios:027a7d6a1c217cce9fe88e</string>
</dict>
</plist>